body {
  font-family: Arial, sans-serif;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

header .controls li {
  display: inline-block;
}

header .controls button {
  padding: .4em;
}

i {
  all: unset;
}

.window {
  margin-bottom: 20px;
}

.tab:nth-child(2n+1) {
  background: aliceblue;
}

.tab {
  padding-left: 20px;
  position: relative;
  margin-bottom: 0.2em;
}

.tab:hover {
  background-color: yellow;
}

.tab button {
  position: absolute;
  right: 0;
}

.tab input[type=checkbox] {
  pointer-events: none;
}

.tab .spinner {
  height: .7em;
  margin: 0 .3em;
  vertical-align: middle;
}